.landing-container {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.5)),
        url(https://images.pexels.com/photos/859904/pexels-photo-859904.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-position: top;
    background-size: cover;
    height: 100vh;
    &__primary {
        align-items: center;
        color: #eee;
        display: flex;
        flex-direction: column;
        font-size: 1.5rem;
        height: inherit;
        justify-content: center;
        &--sub{
            display: flex;

        }
        &--btn {
            background-color: #fff;
            border-radius: 9rem;
            color: #777;
            margin-top: 1.5rem;
            padding: 0.5rem 4rem;
            text-decoration: none;
            text-decoration: none;

            &:active {
                box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
                transform: translateY(-0 0.1rem);
            }

            &:hover {
                box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
                transform: translateY(-0.3rem);
            }
        }
    }
    &__image {
        height: 2rem;
    }
}
